*.pyc
*.pyo
media/
demo/
static
schoolcrm/static
!home/static
!index/static
!customfields/static
!school/static
schoolcrm/settings/local.py
activate
venv/
myenv/
activate.bat
runserver.bat
runserver_ip.bat
makemigrations.bat
migrate.bat
__pycache__/
.vscode
test*.py
rundaphne.bat
